NEXT_PUBLIC_SUPABASE_URL=https://rlszvadiebttvguupegp.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
SUPERCLAIM_TENANT_ID=e1b52fb2-2fb0-4c4d-b9b3-e46e4edec9d6
SUPERCLAIM_API_URL=http://localhost:8000
SUPERCLAIM_API_KEY=sc_globalbeli_dev_2026
